*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#050816;
    color:white;

    font-family:Segoe UI,sans-serif;
    min-height:100vh;
    overflow-x:hidden;
}

.container{
    max-width:1200px;
    margin:auto;
    padding:50px 20px;
    text-align:center;
}

h1{
    font-size:3rem;
    margin-bottom:10px;
}

.subtitle{
    color:#a7b8ff;
    margin-bottom:50px;
}

.menu{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.nav-links {
    width: 90%;
    max-width: 1200px;
    background-color:#0c1b5e;
    border-radius: 10px;
    background-size: 1500px 100px;
    display: flex;
    align-items: center;
    gap: 28px;
}

.nav-links a {

  text-decoration: none;
  color: #cfd8ff;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 8px 10px;

  position: relative;
  transition: 0.25s ease;
}

/* hover glow */
.nav-links a:hover {
  color: #00d9ff;
  text-shadow: 0 0 10px rgba(0, 217, 255, 0.7);
}

/* animated underline */
.nav-links a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: #00d9ff;
  transition: 0.3s ease;
  transform: translateX(-50%);
}

.nav-links a:hover::after {
  width: 100%;
}
.nav-links a {
  border-radius: 6px;
}

.nav-links a:hover {
  background: rgba(0, 217, 255, 0.08);
}
#stars{
    position:fixed;
    inset:0;
    pointer-events:none;
}

.contributions {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: left;
    font-size: 20px;
    color: #888;
    background: #050816;
    padding: 10px 0;
}
.home {
  transition: transform 0.3s ease, color 0.3s ease, text-shadow 0.3s ease;
  text-decoration: none;
  position: relative; /* Ensure the anchor is positioned for the underline */
  display: inline-block; /* Keeps the underline aligned to the text */

}


.home::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%; /* Hidden by default */
  height: 2px;
  background: #00d9ff;
  transition: width 0.3s ease;
}

.home:hover::after {
  width: 100%; /* Expands to full width on hover */
}
.home:hover {
    text-decoration: none;
    transform: translateY(-5px) scale(1.1);
    color: #00d9ff;
    text-shadow: 0 0 15px rgba(0, 217, 255, 0.8);
}

.name {
    position: fixed;
    bottom: 20px;
    left: 100px;
}
.github {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 9999;
    
}

.github img {
    width: 50px;   /* change size if needed */
    height: auto;
    cursor: pointer;

}
.message {
    
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.content {
  flex: 1;
}
.main{
    align-items: center;
    text-align: center;
}
.news {
    
    display: flex;
    width: 300px;
    height: 40px;
    text-align: center;
    align-self: center;
    border-radius: 15px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    background-color: #2980ff;

    justify-content: center;
    align-items: center;
}

