*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#050816;
    color:white;
    font-family:Segoe UI,sans-serif;
    min-height:100vh;
    overflow-x:hidden;
}

.container{
    max-width:1200px;
    margin:auto;
    padding:50px 20px;
    text-align:center;
}

h1{
    font-size:3rem;
    margin-bottom:10px;
}

.subtitle{
    color:#a7b8ff;
    margin-bottom:50px;
}

.menu{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.card{
    width:320px;
    padding:30px;
    background:#111933;
    border-radius:20px;
    text-decoration:none;
    color:white;
    transition:0.3s;
    border:1px solid rgba(255,255,255,0.1);
}

.card:hover{
    transform:translateY(-10px);
    box-shadow:0 0 25px rgba(0,150,255,0.5);
}

.card h2{
    margin:15px 0;
}

.card p{
    color:#c9d6ff;
}

#stars{
    position:fixed;
    inset:0;
    pointer-events:none;
}

.contributions {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: left;
    font-size: 20px;
    color: #888;
    background: #050816;
    padding: 10px 0;
}

.github {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 9999;
    
}

.github img {
    width: 50px;   /* change size if needed */
    height: auto;
    cursor: pointer;

}
.message {
    position: absolute;
    top: 55vh; /* 3/4 of the viewport height */
    left: 50%;
    font-size: 20px;
    transform: translateX(-50%);
}